.blue-card-center {
  background: linear-gradient(45deg, #145BCC, #4F2BB2);
  height: 484px;
  width: 790px;
  border-radius: 35px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 2px solid rgb(9, 47, 109);
  display: flex;
  justify-content: center;
}

.blue-card-center .white-card {
  height: 100%;
  border-radius: 0;
  width: 574px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.65);
}

.blue-card-center > .white-logo {
  display: none;
}

@media (min-width: 320px) and (max-width: 995px) {
  .blue-card-center {
    height: 100vh;
    width: auto;
    border-radius: 0;
    border: none;
    align-items: flex-end;
  }

  .blue-card-center .white-card {
    height: calc(100vh - 176px);
    box-shadow: none;
    padding: 70px 40px 42px 40px;
    width: 100vw;
  }

  .blue-card-center .default-btn {
    padding: 0 90px;
  }
  
}