.blue-card {
  background: linear-gradient(to right, #145BCC, #4F2BB2);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 68px;
  border-radius: 0 35px 35px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 2px solid rgb(25, 42, 136);
  border-left: none;
}

@media (min-width: 320px) and (max-width: 995px) {
  .blue-card {
    border-radius: 0;
    width: auto;
    min-height: 176px;
    height: auto;
    margin-top: 0;
    padding-top: 0;
  }

  .blue-card > img {
    width: 149px;
  }
}