.forgot-password .form-header {
  margin-bottom: 70px;
}

.forgot-password .input-control {
  margin-bottom: 60px;
}

.forgot-password__header {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.forgot-password__message {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: rgb(173, 172, 172);
}

@media (min-width: 320px) and (max-width: 420px) {
  .forgot-password .blue-card-center {
    flex-direction: column;
    justify-content: space-between;
  }

  .forgot-password .white-logo {
    display: block;
    margin: 45px auto;
    width: 149px;
  }
}