.recovery-password .form-header {
    margin-bottom: 70px;
}

.recovery-password .input-control {
    margin-bottom: 60px;
}

.recovery-password__header {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.recovery-password__message {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: rgb(173, 172, 172);
}

.form-field {
    position: relative;
}

.password-input {
    font-size: 20px;
    min-width: 400px;
    border: 0;
    height: 40px;
    margin: 0;
    color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url(https://raw.githubusercontent.com/reuben-stone/react-password-input/master/public/lock-icon.png) #ffffff no-repeat 15px 15px;
    background-size: 15px 15px;
    padding-left: 50px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05), 0 14px 17px rgba(0, 0, 0, 0.05) !important;
    outline: none;
}

.password-confirmation-input {
    font-size: 20px;
    min-width: 400px;
    border: 0;
    height: 40px;
    margin: 0;
    color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #ffffff no-repeat 15px 15px;
    background-size: 15px 15px;
    padding-left: 50px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05), 0 14px 17px rgba(0, 0, 0, 0.05) !important;
    outline: none;
}

.passwordConfirmation {
    margin-top: 30px;
}

.password-strength-label {
    font-size: 15px;
    position: absolute;
    bottom: -30px;
    right: 0px;
}

@media (min-width: 320px) and (max-width: 420px) {
    .recovery-password .blue-card-center {
        flex-direction: column;
        justify-content: space-between;
    }

    .recovery-password .white-logo {
        display: block;
        margin: 45px auto;
        width: 149px;
    }
}

.confirmationButton {
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}